{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indique Airdrop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_indiqueAirdrop.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<header>
    <div class="logo_header">
        <img src="{% static 'assets/images/logo3.png' %}" alt="Logo AirDrop Hunter">
    </div>
    <div class="navmenu_header">
        <ul>
            <li><a href="{% url 'airdrop_list' %}">Airdrops</a></li>
            <li><a href="{% url 'indique_airdrop' %}">Indique um Airdrop</a></li>
            <li><a href="{% url 'quem_somos' %}">Quem Somos</a></li>
        </ul>
    </div>
    <div class="login_header">
        {% if user.is_authenticated %}
            <div class="user-dropdown">
                <div class="user-info">
                    <i class="fa fa-user"></i> {{ user.username }}
                </div>
                <div class="dropdown-content">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="auth-button">
                <i class="fa fa-user"></i> Login
            </a>
            <a href="{% url 'register' %}" class="auth-button">
                <i class="fa fa-pen"></i> Register
            </a>
        {% endif %}
    </div>
</header>
<body>
    

<div class="indique-airdrop-container">
    <h1>Indique um Airdrop</h1>
    <form method="post" class="indique-airdrop-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.nome.id_for_label }}">Nome:</label>
            {{ form.nome }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">E-mail:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="{{ form.plataforma.id_for_label }}">Plataforma do Projeto:</label>
            {{ form.plataforma }}
        </div>
        <div class="form-group">
            <label for="{{ form.investimento.id_for_label }}">Tipo de Investimento:</label>
            {{ form.investimento }}
        </div>
        <div class="form-group">
            <label for="{{ form.link.id_for_label }}">Link do Projeto:</label>
            {{ form.link }}
        </div>
        <button type="submit" class="submit-button">Enviar</button>
    </form>
</div>
{% endblock %}
</body>
</html>